section>#in_encode {
	width: 400px;
	height: 5em;
}

section>#out_encode {
	width: 400px;
	height: 5em;
}

section>#in_decode {
	width: 400px;
	height: 5em;
}

section>#out_decode {
	width: 400px;
	height: 5em;
}