:root {
	--main-color-tint2: #d40000;
	--main-color-tint1: #940000;
	--main-color-halftint: #9a2121;
	--main-color: #800;
	--main-color-shade1: #6e0000;
	--main-color-shade2: #470000;
	--tyrian-purper: #66023C;
}