#cookie-notification {
	background: #222;
	color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 0;
	position: fixed;
	margin: 0 0 20px 20px;
	flex-wrap: wrap;
}

#cookie-notification>p {
	padding: 16px;
	margin: 0;
	font-size: 1.1em;
	flex-wrap: wrap;
}

#cookie-notification>button {
	color: #800;
	font-size: 1.1em;
	font-weight: bold;
	padding: 14px;
	background: 0;
	border: 0;
	box-sizing: border-box;
}

#cookie-notification>button:hover {
	cursor: pointer;
}