body>footer {
	display: grid;
	grid-template-areas: "copyright . secret";
	grid-template-columns: auto 1fr auto;
}

body>footer .copyright {
	grid-area: copyright;
}

body>footer .secret {
	grid-area: secret;
}

body>footer {
	border-top: 10px solid #9a2121;
	padding: 30px;
	box-shadow: -1px -2px 2px gray;
}