body>footer {
	display: flex;
	flex-wrap: wrap;
	border-top: 10px solid #9a2121;
	padding: 30px;
	box-shadow: -1px -2px 2px gray;
}

body>footer>nav a {
	color: #800;
	font: 18px Arial, sans-serif;
	margin: 0;
	padding: 8px;
	text-decoration: none;
	display: inline-block;
}

body>footer>nav a:hover {
	background-color: #800;
	color: #fff;
	text-decoration: underline;
}

body>footer>nav {
	background-color: #fff;
	text-align: center;
}

body>footer>nav span {
	color: #800;
	font: 18px Arial, sans-serif;
	cursor: default;
}

body>footer.copyright {
	flex: 1 1;
}

body>footer>nav {
	flex: 1 1;
}

body>footer>nav * {
	vertical-align: middle;
}

body>footer.secret {
	flex: 1 1;
}