body>header {
	/* The header self */
	padding: 20px 0 30px 0;
	text-align: center;
	background: #800;
}

body>header * {
	/* All items within the header */
	margin: 0;
	padding: 0;
	color: #fff;
}

body>header .title {
	font: 2em "Times New Roman", Times, serif;
	text-transform: uppercase;
}

body>header .subtitle {
	font: 1.2em "Times New Roman", Times, serif;
	text-transform: uppercase;
}

body>header h2::first-letter {
	/* Remember that em is relative to what's inherited */
	/* This is basically 120% of the cascaded value */
	font-size: 1.2em;
}