/* Layout.css is for layout changes, when the window becomes smaller than a certain width, for example. */

* {
	/* show CSS' box model */
	/* border: 1px dotted darkgray; */
	/* outline: 1px dotted black; */
}

body {
	/* remove weird outer margin */
	margin: 0;
}

img {
	/* prevent lazy loading images from reflowing the site */
	height: auto;
	max-width: 100%;
}

body {
	display: grid;
	grid-template-areas: "banner banner banner" "menu-bar menu-bar menu-bar" ". main ." "footer footer footer";
	grid-template-columns: 1fr min(960px, 2fr), 1fr;
}

body>header {
	display: flex;
	flex-direction: column;
	grid-area: banner;
	text-align: center;
}

body>nav {
	grid-area: menu-bar;
}

body>main {
	grid-area: main;
}

body>footer {
	grid-area: footer;
}

@media (max-width: 720px) {
	body>header {
		padding: 0 !important;
	}
	body {
		grid-template-columns: 1fr;
		grid-template-areas: "banner banner banner" "menu-bar menu-bar menu-bar" "main main main" "footer footer footer";
	}
}