/* Layout.css is for layout changes, when the window becomes smaller than a certain width, for example. */

* {
	/* show CSS' box model */
	/* border: 1px dotted black; */
}

body {
	/* remove weird outer margin */
	margin: 0;
}

img {
	/* prevent lazy loading images from reflowing the site */
	max-width: 100%;
	height: auto;
}

body {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	/* grid-template-rows: 1fr auto auto 0.5fr; */
	grid-template-areas: "banner banner banner" "menu-bar menu-bar menu-bar" ". main ." "footer footer footer";
}

body>header {
	grid-area: banner;
	display: flex;
	flex-direction: column;
	text-align: center;
}

body>nav {
	grid-area: menu-bar;
}

body>main {
	grid-area: main;
}

body>footer {
	grid-area: footer;
}

@media (max-width: 720px) {
	body>header {
		/* No clue why it wouldn't override padding, without !important */
		padding: 0 !important;
		flex-direction: row;
	}
	body {
		grid-template-columns: 1fr;
		grid-template-areas: "banner banner banner" "menu-bar menu-bar menu-bar" "main main main" "footer footer footer";
	}
}