/* HEADER */

body>header {
	background: #800;
	background-size: 256px 256px;
	padding: 30px 0;
	text-align: center
}

body>header div {
	color: #fff;
	font: xxx-large Times, serif;
	text-transform: uppercase
}

body>header .subtitle {
	font-size: x-large
}

/* NAV */

body>nav {
	background-color: #940000;
	box-shadow: 0 5px 5px #555;
	text-align: center
}

body>nav a {
	color: #fff;
	display: inline-block;
	font: large sans-serif;
	padding: 8px;
	text-decoration: none
}

body>nav a:hover {
	background-color: #fff;
	color: #800;
	text-decoration: underline
}

body>nav span {
	color: #fff;
	cursor: default;
	font: large sans-serif
}

/* MAIN */

body {
	font-size: larger;
	margin: 0
}

body>main {
	margin: 0;
	padding: 3vw
}

body>main * {
	margin: 0
}

body>main h1, body>main h2, body>main h3, body>main h4, body>main h5, body>main h6 {
	color: #800;
	font-family: Times, serif;
	padding: 1em 0 .3em;
	text-transform: uppercase
}

main h1, main h2, main h3 {
	overflow: hidden;
	text-overflow: ellipsis
}

summary>h1, summary>h2, summary>h3 {
	display: inline-block
}

summary {
	border-bottom: 1px dashed #800
}

summary:hover {
	cursor: pointer
}

blockquote {
	border: 1px dotted #6e0000;
	border-left: 6px solid #6e0000;
	margin: 1.5em 10px;
	padding: .5em 10px;
	quotes: "“" "„" "‘" "‚"
}

blockquote:before {
	color: #6e0000;
	content: open-quote;
	font-size: xx-large;
	line-height: .1em;
	margin-right: .01em;
	vertical-align: -.4em
}

blockquote p {
	display: inline
}

body a {
	color: #800
}

body>main p {
	margin: 0 0 5px;
	padding: 5px 0 10px;
	text-align: justify
}

body>main figure {
	border: 1px solid #800;
	border-radius: 4px;
	box-shadow: 3px 3px 5px #555;
	margin: 0 0 10px;
	padding: 10px;
	text-align: center
}

.article-meta {
	display: flex
}

.article-meta>.published-box, .article-meta>.author-box {
	background-color: #6e0000;
	border: 1px solid #800;
	color: #fff;
	margin-right: 2px;
	margin-top: 10px;
	padding: 2px 10px 0
}

table {
	border: 1px solid #800;
	border-collapse: collapse;
	box-shadow: 3px 3px 5px #555;
	font-family: Tahoma, sans-serif
}

table th {
	background-color: #800;
	border: 1px solid #800;
	color: #fff;
	margin: 0;
	padding: .25em
}

table td {
	border: 1px solid #800;
	margin: 0;
	padding: .25em;
	text-align: left;
	vertical-align: top
}

ul>li {
	list-style-type: '– '
}

.article-list>li {
	list-style-type: ' ';
	padding: 0 0 10px
}

.disclaimer {
	background-color: #6e0000;
	border: 1px dashed #800;
	border-left-style: solid;
	border-left-width: 10px;
	color: #fff;
	font-family: Tahoma, sans-serif;
	line-height: 150%;
	margin: 20px;
	padding: 20px
}

pre {
	tab-size: 2;
	-moz-tab-size: 2;
	white-space: pre-wrap
}

q {
	font-style: italic
}

a.self-link {
	text-decoration: none
}

a.self-link:hover {
	color: #b00;
	text-decoration: none
}

h1>a.self-link::before, h2>a.self-link::before, h3>a.self-link::before, h4>a.self-link::before, h5>a.self-link::before, h6>a.self-link::before {
	content: "§ "
}

ul, ol {
	padding: 10px 0 10px 30px
}

@media (min-width: 720px) {
	body>main {
		margin: 0 10%
	}
}

@media (min-width: 1200px) {
	body>main {
		margin: 0 20%
	}
}

.crypto {
	display: inline-block
}

.crypto-address {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: xx-small
}

img {
	height: auto;
	max-width: 100%
}

/* COOKIE NOTIFICATION */

#cookie-notification {
	background: #222;
	border-radius: 10px;
	bottom: 0;
	color: #fff;
	display: flex;
	left: 0;
	margin: 0 0 20px 20px;
	position: fixed
}

#cookie-notification>p {
	flex-wrap: wrap;
	margin: 0;
	padding: 16px
}

#cookie-notification>p>button {
	background: 0;
	border: 0;
	color: #800;
	padding: 14px;
	font-size: large
}

#cookie-notification>p>button:hover {
	cursor: pointer
}

/* FOOTER */

body>footer {
	border-top: 10px solid #9a2121;
	box-shadow: 0 -3px 5px #555;
	display: flex;
	flex-wrap: wrap;
	padding: 30px
}

body>footer>nav a {
	color: #800;
	display: inline-block;
	font: large sans-serif;
	padding: 8px
}

body>footer>nav a:hover {
	background-color: #800;
	color: #fff
}

body>footer>nav {
	background-color: #fff;
	flex: 1 1;
	text-align: center
}

body>footer>nav span {
	color: #800;
	cursor: default;
	font: large sans-serif
}

body>footer>nav * {
	vertical-align: middle
}

body>footer .secret {
	font: small sans-serif
}

.button {
	background-color: #800;
	border-radius: 4px;
	border: 2px solid #6e0000;
	color: #ffffff;
	cursor: pointer;
	font-size: large;
	padding: .8em 2em;
	box-shadow: 2px 2px 5px #555;
}

.button:hover {
	background-color: #b00;
}

.button:active {
	position: relative;
	top: 1px;
	left: 1px;
}

hgroup {
	padding: 1em 0
}